$WM_GREEN_COLOR:#439665;
$WM_GREEN_COLOR_HOVER:#3D885C;
$WM_TEXT_COLOR:#333;
$WM_TEXT_COLOR_BLUR:#777777;
$WM_CONTENT_WHITEBLUE_COLOR:#649bb8;
$WM_CONTENT_GREY_COLOR:#6a788b;
$WM_CONTENT_VANIL_COLOR:#d8a68c;
$WM_HEADERNAV_FS: 12px;